BasedOnStyle: LLVM

SortIncludes: false
IndentPPDirectives: AfterHash
IndentWidth: 4
ColumnLimit: 100
AlignOperands: true
ReflowComments: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

MaxEmptyLinesToKeep: 1